* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: -moz-hidden-unscrollable;
}
html {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.Container {
  display: flex;
  justify-content: center;
  height: 2600px;
  width: 100vw;

  background-color: hsl(30, 54%, 90%);
}
.Card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 375px;

  background-color: white;
}
img {
  height: 110%;
  width: 100%;
}
.Recipe-Name {
  font-family: "Young Serif", serif;
  margin: 40px 20px 20px 40px;
  color: hsl(24, 5%, 18%);
  opacity: 90%;
}
.Description {
  margin: 0px 50px 20px 40px;
  color: hsl(24, 5%, 18%);
  opacity: 80%;
  font-size: 17px;
}

.Preparation {
  align-self: center;
  border-radius: 5px;

  width: 90%;
  background-color: hsl(330, 100%, 98%);
}

.Preparation > * {
  margin: 20px 0px 20px 10%;
}
.Preparation > h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 22px;
}

li > p {
  font-size: 20px;
  margin-left: 10px;
  opacity: 100%;
  margin-right: 0px;
}
li {
  opacity: 60%;
  margin-top: 10px;
}
li > * {
  display: inline-block;
  list-style-type: circle;
}
.Purple > li {
  margin-left: 0px;
}
.Purple > li::marker {
  color: hsl(332, 51%, 32%);
}
.Ingredients {
}
.Ingredients {
}
.Ingredients > ul {
  margin-left: 50px;
}
.Ingredients > h2 {
  margin: 20px 0px 0px 10%;
  padding-bottom: 50px;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-size: 27px;
}
.Line {
  margin: 0px;
  padding: 0px;
  height: 1px;
  width: 90%;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}
.Instructions > h2 {
  margin: 20px 0px 0px 10%;
  padding-bottom: 40px;
  font-size: 27px;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
}
.Instructions > ol {
  margin: 10px 0px 0px 70px;
  font-size: 20px;
}
.Ibrown > li {
  padding: 20px;
}
li > span {
  font-weight: 800;
}
.Brown > li::marker {
  font-weight: 800;
  color: hsl(14, 45%, 36%);
}

.T > span {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
  font-size: 20px;
}
.Nutrition > h2 {
  margin: 20px 0px 0px 10%;
  padding-bottom: 20px;
  font-size: 27px;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
}
.Nutrition > p {
}
.Nutrition {
  padding-bottom: 30px;
}
.Description1 {
  margin-left: 35px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.T > p {
  display: inline-block;
  margin-left: 50px;
  margin-right: 40px;
  font-size: 20px;
  opacity: 60%;
  font-weight: 500;
}
.Table > .Line {
  margin: 0px;
  padding: 0px;
  height: 1px;
  width: 90%;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}
.Table > span {
}
.T {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 50px;
}
@media (min-width: 375px) {
  .Card {
    display: flex;
    flex-direction: column;
    height: 2550px;
    width: 375px;

    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2600px;
    width: 100vw;
    background-color: hsl(30, 54%, 90%);
  }
}
@media (min-width: 1440px) {
  .Card {
    width: 800px;
    height: 2280px;
    padding-top: 20px;
  }
  img {
    height: 110%;
    width: 90%;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 1%;
  }
  .Recipe-Name {
    font-size: 24px;
    font-family: "Young Serif", serif;
    margin: 80px 20px 20px 40px;
    color: hsl(24, 5%, 18%);
    opacity: 90%;
  }
}
